.footer {

    

    &__border {
       border-top: 2px solid #e6e6f0;
       padding-top: 30px;
    }

    &__body {
        display: flex;
        justify-content: space-between;

         @media (max-width: map-get($breakpoints, mobile)) {
            width: map-get($content-width, mobile);

            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__row {
        display: flex;
        padding-bottom: 21px;

         @media (max-width: map-get($breakpoints, mobile)) {
            width: map-get($content-width, mobile);
               display: flex;
               flex-direction: column;
               align-items: center;
               padding-bottom: 30px;

         }

    }

    .footer__address {
        font-weight: 400;
        font-size: 16px;
        font-size: normal !important;
        color: #323264;
        display: flex;
        
     @include headerDot;

     @media (max-width: map-get($breakpoints, mobile)) {
            width: map-get($content-width, mobile);

            padding-bottom: 10px;
            margin-right: 0;

         }
    }
      
         
   

    &__map-link {
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #24a3ff;


    }

    &__fb {
         display: flex;
     @include headerDot;

     @media (max-width: map-get($breakpoints, mobile)) {
            width: map-get($content-width, mobile);
            display: flex;
            flex-direction: column;
            margin-right: 0;
            padding-bottom: 10px;
    }
}

    .facebook {

        @media (max-width: map-get($breakpoints, mobile)) {
            width: map-get($content-width, mobile);
                width: 38px;
                height: auto;
        }
    }

    &__phone {
        font-weight: 700;
        font-size: 16px;
        color:#46466e;
        display: flex;
     @include headerDot;

     @media (max-width: map-get($breakpoints, mobile)) {
            width: map-get($content-width, mobile);
               display: flex;
               flex-direction: column;
               padding-bottom: 10px;
               margin-right: 0;
    }
}

   

    &__email {
        font-weight: 700;
        font-size: 16px;
        color: #24a3ff;
    }

    &__copyright {
        color: #b3b3ba;

         @media (max-width: map-get($breakpoints, mobile)) {
            width: map-get($content-width, mobile);
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;

         }

    }

    
}