.services {
    .content {
        padding: {
            bottom: 60px;
        };
    }


&__link {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color:#24A3FF;
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;

    &::after {
        content: ">";
        position: absolute;
        left: calc(100% + 5.5px);
        
    }

    &:hover {
        color:#F0145A;
    }

}



&__page-icon {
    display: flex;
    justify-content: center;
    padding: 60px 0 28px;
}

  


&__page-text {
    text-align: center;

    p {
        padding-bottom: 28px;
    }
}

 &__title-page {
        text-align: center;
        padding-bottom: 28px;
        background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        -webkit-background-clip: text;
        background-clip: text;
        -wabkit-text-fill-color: transparent;
        color: transparent;
}


&__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 15px;
}

&__item {   
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 15px;
    padding-left: 14px; /* Освобождаем место слева под точку */
    position: relative;
    /* display: flex;  <- Удалено! Флекс здесь не нужен и мешает абсолютному позиционированию */

    &::before { /* Рекомендуется использовать before для маркеров слева */
        content: '';
        background-color: #f0145a;
; /* Замените на ваш красный цвет, если нужно */
        width: 6px;
        height: 6px;
        border-radius: 50%; /* Сделайте 1px-2px, если нужна квадратная точка */
        position: absolute;
        left: 0;
        top: 10px; /* Базовое положение точки (примерно по центру первой строки) */
    }

    
}


// &__page-icon {
//     width: 92px;
//     height: 92px;
//     border-radius: 24px;
//     padding: 14px;
//     background-color: white;
//     margin-bottom: 44px;
// }

.btn {
    display: flex;
    justify-content: center;
}


&__btn {
    display: block;
   padding: 15px 30px;
    margin-bottom: 60px;
    border-radius: 12px;
    font-weight: 700;
    background: rgba(36, 163, 255, 1);
    color: white;
    filter: drop-shadow(0 0 20px rgba(36, 163, 255, 0.5));
   

}

&__divider {
    border-bottom: 4px solid #ffffff80;
    margin-bottom: 30px;
    
}

&__subtitle {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 30px;
    color: #ffffff;

}

&__title {
    margin-bottom: 60px;;
    font-weight: 700;
    font-size: 38px;
    line-height: 100%;
    pointer-events: none;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    background-clip: text;
    -wabkit-text-fill-color: transparent;
    color: transparent;
}
    
&__offers {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

&__offer {
    width: calc(100% /3 - 40px);

    @media (max-width: map-get($breakpoints, tablet)) {
        width: calc(100% / 2 - 40px);
}

    @media (max-width: map-get($breakpoints, mobile)) {
        width: 100%;
}
}



&__img {
    width: 92px;
    height: 92px;
    border-radius: 24px;
    padding: 14px;
    background-color: white;
    margin-bottom: 44px;

}
&__offer-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    color:#24A3FF;
    padding-bottom: 15px;



}

&__description {}

}

