.testimonial {
        
&__card {
    display: flex;
    padding-top: 60px;
}

&__media{
    padding-right: 30px;
} 

&__label {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1px;
    color: #24a3ff;
    padding: {
        top: 30px;
        bottom: 5px;

    };

      &::after {
        content: ">";
        left: calc(100% + 5.5px);
        align-items: center;
        
    }
}

&__quote {
    font-weight: 700;
    font-size: 38px;
    line-height: 100%;
    padding-bottom: 30px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    


}

&__author {
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        padding-bottom: 6px;
        color: #b3b3ba;
        padding-top: 30px;

}

&__position {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 30px;
    color: rgba(179, 179, 186, 1);

}



}